<!-- Toolbar -->

 <!-- <div *ngIf="!(authService.user | async)">

  <mat-toolbar color="primary" class="header">
    <div>NetMash</div>
    <div align="right">
      <h6 style= "color:Tomato;" *ngIf="error">**{{ error }}</h6>
      <input type="text" [(ngModel)]="email" placeholder="email">
      <input type="password" [(ngModel)]="password" placeholder="password">

      <button (click)="signup()" [disabled]="!email || !password">
        Signup
      </button>

      <button (click)="login()" [disabled]="!email || !password">
        Login
      </button>
    </div>
      <div class='form-error-message'>{{error}}</div>
  </mat-toolbar>
</div>  -->

<!--<div *ngIf="!(authService.user | async)?redirectToLoginPage():''">-->

<!--</div>-->


  <!-- <div style="background-color:DodgerBlue;" align="right">
    Welcome {{ (authService.user | async)?.email }}!
    <button (click)="logout()">
      Logout
    </button>
  </div> -->

  <mat-toolbar color="primary" class="header">
    <div>All Events</div>
    <span class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
  </mat-toolbar>

  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav *ngIf="(authService.user | async)" #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]>
      <mat-nav-list>
          <a style="visibility:hidden" mat-list-item routerLinkActive="active" routerLink="/add-book">
            <mat-icon>add</mat-icon> Add Event
          </a>
        <a mat-list-item routerLinkActive="active" routerLink="/add-event">
          <mat-icon>add</mat-icon> Add Event
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/events-list">
          <mat-icon>format_list_bulleted</mat-icon> View Events
        </a>
<!--        <a mat-list-item routerLinkActive="active" routerLink="/add-user">-->
<!--          <mat-icon>add</mat-icon> Add User-->
<!--        </a>-->
        <a mat-list-item routerLinkActive="active" routerLink="/user-list">
          <mat-icon>format_list_bulleted</mat-icon> View Users
        </a>
        <a mat-list-item routerLinkActive="active" (click)="logout()">
          <mat-icon>format_list_bulleted</mat-icon> Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div>
